* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
 
body {
    background: #f4f6fb;
    padding: 30px;
}
 
/* TITLES */
.title {
    text-align: center;
}
 
.subtitle {
    text-align: center;
    margin-bottom: 25px;
    color: gray;
}
 
/* MAIN LAYOUT */
#main-container {
    display: flex;
    gap: 20px;
    align-items: stretch;
}
 
#left-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
#right-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
/* CARDS */
 
.card
{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}
 
#total-tickets-count{
    font-size: 60px;
}
 
.card,
.chart-card {
    background: #ffffff;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
    flex-grow: 1;
}
 
.card h3,
.chart-card h3 {
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
 
/* LISTS */
.card ul {
    list-style: none;
    width: 80%;
}
 
.card ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 16px;
    padding: 3%;
}
 
 
/* ICON BASE */
.icon {
    font-size: 18px;
}
 
/* ICON COLORS */
.red { color: #e74c3c; }
.blue { color: #3498db; }
.green { color: #2ecc71; }
.orange { color: #f39c12; }
.gray { color: #7f8c8d; }
.purple { color: #9b59b6; }
 
/* TEXT COLORS */
.open { color: #e74c3c; font-weight: bold; }
.progress { color: #3498db; font-weight: bold; }
.resolved { color: #2ecc71; font-weight: bold; }
.closed { color: #7f8c8d; font-weight: bold; }
.medium { color: #f39c12; font-weight: bold; }
 
/* PLACEHOLDER */
.placeholder {
    flex-grow: 1;
    background: #eef1f7;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #7f8c8d;
    font-size: 18px;
}
 
/* PIE */
.pie-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
 
.pie-border {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    position: relative;
}
 
 
#Tickets_By_Category{
    flex: 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
 
.total_count_card{
    flex-grow: 0;
    height: 250px;
}
 
.PriorityCard, .StatesCard{
     height: 350px;
}
 
.breadcrumb{
    position: absolute;
    top: 8%;
    left: 3%;
}
 
 
@media screen and (max-width: 1024px)
{
    #main-container{
        flex-direction: column;
        padding: 0 10%;
    }
 
    #Tickets_By_Category{
        flex-direction: row;
    }
